.page {
    text-align: center;
}

.title{
    font-size: 45px;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.table{
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 24%;
    padding: 2em 2em 2em 2em;
    border-radius: 1em;
    height: 475px;
    width: 750px;
    background-color: rgb(177, 197, 220);
}