.game {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.gameInput {
    background-color: transparent;
    position: absolute;
    outline: none;
    font-size: 2em;
    border: none;
    caret-color: transparent;
    cursor: default;
}

.gameTimerWrapper {
    margin: 1rem;
    font-size: large;
}

.startGameWrapper{
    margin: 1rem;
    font-weight: 300;
}

.wordsDisplay {
    margin-right: 12%;
    margin-left: 12%;
    background-color: beige;
    padding: 1rem;
    border-radius: 2rem;
    border-color: black;
    border-style: solid;
    border-width: 0.125rem;
    font-weight: 400;
    font-size: large;
}

.statsWrapper {
    position: relative;
    margin: 1rem;
    font-size: large;
}