

.game {
    text-align: center;
    margin-top: 25%;
}

.gameInput {
    background-color: transparent;
    outline: none;
    font-size: 2em;
    border: none;
    caret-color: transparent;
    cursor: default;
}