/*----------------------------------NAVIGATION BAR STYLES---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

*{
    font-family: Abyssinica SIL;
}

.mainNav {
    background: linear-gradient(90deg, rgb(5, 52, 99) 0%, rgb(5, 52, 99) 100%);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1700px;
  }

  .nav-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    position:absolute;
    top: 3px;
    left:10px;
    width:100px;
    height:40px;
    overflow:hidden;
  }

  .mainNav ul{
    margin: 0;
    position: absolute;
    top: 25px;
    right: 10px;
    width: 400px;
    height: 60px;
    overflow:hidden;
 }

 .mainNav li{
    padding: 0 10%;
 }

 .mainNav li:hover{
    text-decoration: underline;
  }

  .mainNav ul li{
    display:inline-block;
  }
  
  .nav-item{
    font-size: 1.2rem;
    cursor: pointer;   
    color: aliceblue;
  }

  .nav-login{
    border-left: 1px solid white;
  }